{% include base_path %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

    <!-- Title (non-clickable) -->
    <h2 class="archive__item-title" itemprop="headline">
      {{ post.title | markdownify | remove: "<p>" | remove: "</p>" }}
    </h2>

    <!-- Description -->
    {% if post.excerpt %}
      <p class="archive__item-description" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% endif %}

    <!-- Download Links -->
    {% if post.paperurl or post.slidesurl %}
      <div class="archive__item-links">
        {% if post.paperurl %}
          <a href="{{ post.paperurl }}" class="archive__item-link">Download Paper</a>
        {% endif %}
        {% if post.slidesurl %}
          <a href="{{ post.slidesurl }}" class="archive__item-link">Download Slides</a>
        {% endif %}
      </div>
    {% endif %}
    
  </article>
</div>
